<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('../partial/head'); %>
  </head>
  <body>
    <%- include('../partial/nav'); %>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Biodata <%= result.username %></h5>
              <div class="row mb-2 pt-2">
                <div class="col-sm-3">
                  <p>Firs Name</p>
                </div>
                <div class="col">
                  <p class="card-text">
                    <%= result.user_game_biodata.first_name %>
                  </p>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-sm-3">
                  <p>Last Name</p>
                </div>
                <div class="col">
                  <p class="card-text">
                    <%= result.user_game_biodata.last_name %>
                  </p>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-sm-3">
                  <p>Email</p>
                </div>
                <div class="col">
                  <p class="card-text"><%= result.user_game_biodata.email %></p>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-sm-3">
                  <p>Age</p>
                </div>
                <div class="col">
                  <p class="card-text"><%= result.user_game_biodata.umur %></p>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-sm-3">
                  <p>Gender</p>
                </div>
                <div class="col">
                  <p class="card-text">
                    <%= result.user_game_biodata.gender %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <a href="/view/usergame" class="btn btn-outline-primary mt-2">back</a>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Usergame History</h5>
              <% if (result.user_game_history.length > 0) {
              result.user_game_history.forEach(function(item, i) { %>

              <div class="card mb-2 mt-3">
                <div class="card-body">
                  <table>
                    <thead>
                      <tr>
                        <th width="20%">no</th>
                        <th width="30%">score</th>
                        <th>time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= i+1 %></td>
                        <td><%= item.score %></td>
                        <td><%= item.updatedAt.toLocaleString() %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <% }) } else { %>
              <p>No History</p>
              <%} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
